* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(h1) {
  font-family: "Open Sans", sans-serif;
}

a {
  font-weight: 600;
  text-decoration: none;

  &:not(.content-link):hover {
    text-decoration: underline;
  }
}

@function to-rem($px) {
  $rem: $px/16;
  @return $rem + rem;
}

%containers,
%flex-container {
  display: flex;
}

%containers {
  max-width: 1366px;
  padding: 1.5rem 4.5rem;
  width: 100%;
}

%flex-container {
  justify-content: center;
}

%titles {
  font-family: "Unbounded", cursive;
  color: #5864f3;
}

.header,
.main,
.footer,
.menu-itens {
  @extend %flex-container;
}

img {
  width: 130px;
  height: 24px;
}

.btn-open {
  background-color: #5865f3;
  border: none;
  border-radius: to-rem(40);

  color: #fff;
  cursor: pointer;

  font-weight: 500;
  padding: to-rem(10) to-rem(20);
  transition: 0.3s;

  &:hover {
    box-shadow: 1px 1px 10px #000;
    opacity: 0.7;
  }
}

.container-header {
  @extend %containers;
  align-items: center;
  justify-content: space-between;

  .menu-itens {
    gap: to-rem(40);

    list-style: none;

    a {
      color: #000;
    }
  }
}

.container-main {
  @extend %containers;

  gap: to-rem(30);
  margin: to-rem(100) 0;

  .content-404 {
    max-width: 670px;

    .main-title {
      @extend %titles;
      font-size: to-rem(45);
    }

    .description,
    a {
      font-size: to-rem(20);
    }

    .description {
      margin: to-rem(20) 0;
    }

    a {
      color: #3b4bf8;
      display: block;
      font-weight: 100;
      width: max-content;

      &:nth-child(4) {
        margin: to-rem(10) 0;
      }

      &:hover {
        color: #008abd;
      }
    }
  }

  .img-404 img {
    height: 330px;
    width: 350px;
  }
}

@mixin footer-flex($gap, $wrap: false, $justify: false, $align: false) {
  gap: to-rem($gap);

  @if ($wrap) {
    flex-wrap: $wrap;
  }

  @if ($justify) {
    justify-content: $justify;
  }

  @if ($align) {
    align-items: $align;
  }
}

%footer-flex {
  display: flex;
}

.footer {
  background-color: #23262a;
}

.container-footer {
  @extend %containers;
  flex-direction: column;
  padding-top: 5rem;

  h2 {
    @extend %titles;
  }

  h3 {
    color: #5864f3;
  }

  a,
  p {
    color: #fff;
    font-weight: 100;
    display: block;
  }

  a {
    margin-top: to-rem(15);
  }

  .footer-top {
    @extend %footer-flex;

    .infos {
      width: 25%;
      margin-right: to-rem(100);

      .footer-title {
        font-size: to-rem(32);
      }

      .locations {
        @extend %footer-flex;
        @include footer-flex(10, $align: center);

        margin: to-rem(20) 0;

        .brazil {
          height: 30px;
          width: 30px;
        }

        .arrow-down {
          height: 20px;
          width: 20px;
        }
      }

      .social-links {
        @extend %footer-flex;
        @include footer-flex(30);

        img {
          height: 30px;
          width: 30px;
        }
      }
    }

    .links {
      @extend %footer-flex;
      @include footer-flex(90, wrap, space-evenly);

      div {
        width: to-rem(120);
      }
    }
  }

  hr {
    border-color: #5865f3;
    margin: to-rem(30) 0;
  }

  .footer-bottom {
    @extend %footer-flex;
    @include footer-flex(20, wrap, space-between, center);

    img {
      height: 24px;
    }

    a {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1060px) {
  .container-header,
  .container-main {
    padding: 1.5rem 1rem;
  }
}

@media screen and (max-width: 940px) {
  .container-header {
    flex-direction: column;
    gap: 1rem;

    .menu-itens {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 725px) {
  .container-footer {
    padding: 5rem 1rem;

    .footer-top {
      flex-direction: column;

      .infos,
      .links {
        width: 100%;
      }

      .infos {
        margin-bottom: to-rem(60);
      }

      .links {
        justify-content: unset;
        gap: 28%;
        row-gap: to-rem(40);
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .container-main {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 0;
  }
}
